body {
    background-color: rgb(60, 60, 60);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --primary-color: rgb(250,0,50);
    --secondary-color: rgb(200,0,50);
}
.m-auto {
    margin: 0 auto;
}
.m-nadpisy {
    margin-left: 30px;
}
.text-secondary {
    color: var(--secondary-color);
}
h1 {
    margin-left: 10px;
    color: var(--primary-color);
    max-width: 480px;
    font-family: 'Dosis', sans-serif;
}
h2 {
    color: rgb(240, 90, 90);
}
img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.color-main {
    color: var(--primary-color);
}
#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
#navbar a {
    color: white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
    padding: 0.25rem;
    margin: 0.25rem;
}
#navbar ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 0 0.25rem;
}
#logo {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
#zdroje p {
    margin: 1rem;
}
#showcase {
    background: #333 url('../img/warcraft-cat.jpg') no-repeat center center/cover;
    height: 90vh;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2;
    background-color: rgba(0,0,0,0.40);
}
.l-heading {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    line-height: 1.1;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 7px;
}
.btn:hover {
    background-color: var(--secondary-color);
}
.container {
    max-width: 1000px;
    margin: auto;
}
.text-center {
    text-align: center;
}
.m-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.py-1 {
    padding: 1.5rem 0;
}
#what .items {
    display: flex;
    padding: 1rem;

}
#what .item {
    text-align: center;
    padding: 1rem;
}
#what .items .item i {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}